*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: auto;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.a{
    width: 165px;
}
.aa{
    width: 165px;
    padding:5px 10px ;
    border: none;
    background: #000;
    color: orange;

}
.banner
{
    height: 80vh;
    background:url(https://foodmandu.com/img/top_seamless_background.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.py-3
{
    padding: 30px 0;

}
.food{
    width: 250px;
}
.food img{
    width: 100%;
    height: 190px;
}
.wrap{
    flex-wrap: wrap;
    gap:20px;
    margin: 20px 0;
}
.about{
    background: linear-gradient( transparent, black);
    background-size: cover;
    color: #fff;
    padding: 70px;
    text-align: center;
}
.inner{
    width: 600px;
    margin: auto;
}

.bcd
{
    height: 30px;
    width: 80px;
}
.cde
{
    height: 30px;
    width: 80px;
}
.map
{
    height: 400px;
}
.request
{
    border-top: 2px solid #999;
    border-bottom: 2px soliD #999;
    background: #999;
    padding: 100px 0;
    text-align: center;
}
.btn 
{
    background: rgb(246, 194, 96);
    color: black;
    height:40px;
    width: 150px;
    border: none;
    border: none;
    padding: 10px 0;
    margin: 20px 0;
}
.footbox 
{
padding: 20px 0;
}
.footbox h2
{
padding-bottom: 20px;
}
.my
{
    margin: 40px auto;
}
.b
{
    margin: 40px auto;
}
