*{
    margin: 0; padding: 0; box-sizing: border-box;
}
.box{
    width: 250px; height: 250px; position: relative; 
    overflow: hidden;
}
.box img {
width: 100%; height: 100%;
}
.box h3{
    position: absolute; bottom: -50px; background: #000;
    color: 	#fff; padding: 10px; width: 100%;
    transition: 0.9s;

}
.box:hover h3{
    bottom: 0;
}