p:first-child
{
    background: green !important
}
p:last-child
{
    background: skyblue !important;
}
p:nth-child(2), p:nth-child(5)
{
    background: pink;
    text-transform: capitalize;
}
p:nth-child(odd)
{
    background: orange;
}
p:nth-child(even)
{
    background: yellow;
}
a:visited
{
color: rgb(202, 31, 31)
}
a:hover{
    color: blue;
}
a:active
{
    color:rgb(19, 19, 19);
}
input :read-only
{
    color: yellow;
}
input:disabled
{
    color: orange;
}
input:focus
{
    border: 1px solid blue; outline: none;
}

