.box
{
    width: 140px;
    height: 140px;
}
.a
{
    background: skyblue;
    transition-duration: 5s;
    transition-delay: 1s;
    transition-property: all;
    transition-timing-function: linear;
    /* /transition: all 5s ease 2s;/*/
} 
.a:hover{
    width: 400px;
}
.b
{
    background: pink;
    transition: 0.8s;
}
.b:hover
{
    transform: rotate(90deg);
}
.c
{
    background: rgb(163, 223, 163);
    transition: 0.8s;
}
.c:hover
{
    transform: skew(30deg ,50deg);
}
.d
{
    background: rgb(145, 145, 232);
    transition: o.8s;
    transform-origin: left top;
}
.d:hover
{
    transform: scale(2,2);
}
.e 
{
    background: rgb(216, 216, 108);
    transition: 0.8sec;
}
.e:hover
{
    transform: translate(-40px, 40px);
}
.center
{
    width: 200px; height: 200px;
    background: rgb(244, 204, 131);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.center img
{
    width: 100%; height: 100%;
    transition: 0.8s; filter: grayscale(100%);
}
img:hover
{
    transform: scale(1.4, 1.4);
   filter: none;
}